/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  width: 50em;
  margin: 0 auto
}

article {
width: 50em;
}

h1 {
text-align: center;
}

img {
max-width: 100%
}
